@import './iconfont.css';

body {
  font-family: PingFangSC, sans-serif;
}

.iconfont.small {
  font-size: 48px;
}

.iconfont,
.iconfont.normal {
  font-size: 64px;
  -webkit-tap-highlight-color: transparent;
}

.iconfont.large {
  font-size: 72px;
}

.iconfont.iconfont.available {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
