:root {
  --white: #ffffff;

  /* 正文颜色 */
  --body-text: #333333;
  /* 标题颜色 */
  --header-text: #000000;
}

.iconfont {
  color: var(--body-text);
  transition: color .1s linear;
}

.iconfont.available:hover {
  color: #0F4471;
}
